Options +FollowSymlinks
RewriteEngine on

RewriteRule ^legal$ oxygen_updater_privacy_policy_latest.pdf
RewriteRule ^legal/$ oxygen_updater_privacy_policy_latest.pdf

RewriteRule ^faq$ faq.php
RewriteRule ^faq/$ faq.php

RewriteRule ^inappfaq$ in_app_faq.php
RewriteRule ^inappfaq/$ in_app_faq.php [L]
